[Unit]
Description=Lumenora GPU driver detection
ConditionPathExists=!/var/lib/lumenora/gpu-checked
Wants=network-online.target
After=local-fs.target network-online.target
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/bin/lumenora-gpu-detect.sh

[Install]
WantedBy=multi-user.target
